<launch>

     <!--  ************** Global Parameters ***************  -->
        <param name="/use_sim_time" value="true"/>

        <!--  ************** Stage Simulator ***************  -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find local_planner)/stage/carlike.world">
    <remap from="base_scan" to="scan"/>
    </node> 
 <arg name="map_file" default="$(find local_planner)/piece_of_map.yaml"/> 

  <!-- Run the map server "-d $(find fake_gps)-->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen">
  
  </node>
  <!--node pkg="tf" type="static_transform_publisher" name="robot" args="0.5 0.5 0 0 0 0 /map /base_link 1" /-->
  <!--node pkg="tf" type="static_transform_publisher" name="odom" args="0 0 0 0 0 0 /base_link /odom 0.01" /-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find local_planner)/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find local_planner)/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find local_planner)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find local_planner)/local_costmap_params.yaml" command="load" />
    
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="use_grid_path" value="False" />
    <param name="use_quadratic" value="False" />
    <param name="use_dijkstra" value="False" />
    <param name="planner_frequency" value="1.0" />
    <param name="planner_patience" value="5.0" />

    <rosparam file="$(find local_planner)/base_local_planner_params.yaml" command="load" />
    <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS" />
  
    <!--rosparam file="$(find local_planner)/dwa_local_planner_params.yaml" command="load" /-->
    <!--param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" /-->
    <param name="controller_frequency" value="5.0" />
    <param name="controller_patience" value="15.0" />


  </node>
  <!--node pkg="rostopic" type="rostopic" name="rostopic" args="pub /move_base_simple/goal geometry_msgs/PoseStamped '{header: {stamp: now, frame_id: 'map'}, pose: {position: {x: 2.25, y: 1.25, z: 0.0}, orientation: {z: 0.707, w: 0.707}}}'
"/-->
  <!--  ****** Maps *****  -->
 

  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <rosparam file="$(find local_planner)/amcl_params.yaml" command="load" />
    <param name="initial_pose_x"            value="0.5"/>
    <param name="initial_pose_y"            value="0.5"/>
    <param name="initial_pose_a"            value="0"/>
 </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find local_planner)/launch/test.rviz" />

</launch>